@font-face{
    font-family: 'BritannicBold';
    src: url('../fonts/BritannicBold/BritannicBold.eot');
    src: url('../fonts/BritannicBold/BritannicBold.eot?iefix') format('embedded-opentype'),
    url('../fonts/BritannicBold/BritannicBold.woff') format('woff'),
    url('../fonts/BritannicBold/BritannicBold.ttf') format('truetype'),
    url('../fonts/BritannicBold/BritannicBold.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black/Montserrat-Black.eot?iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Black/Montserrat-Black.woff') format('woff'),
    url('../fonts/Montserrat-Black/Montserrat-Black.ttf') format('truetype'),
    url('../fonts/Montserrat-Black/Montserrat-Black.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans.eot');
    src: url('../fonts/OpenSans/OpenSans.eot?iefix') format('embedded-opentype'),
    url('../fonts/OpenSans/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans/OpenSans.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold/Roboto-Bold.eot?iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto-Bold/Roboto-Bold.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium/Roboto-Medium.eot?iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/Roboto-Medium/Roboto-Medium.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}