
@font-face {
  font-family: 'BritannicBold';
  src: url('BritannicBold.eot?#iefix') format('embedded-opentype'),  url('BritannicBold.woff') format('woff'), url('BritannicBold.ttf')  format('truetype'), url('BritannicBold.svg#BritannicBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
